/**
 * Base Typography
 * - 기본 타이포그래피 스타일
 */

@use '../tokens/colors' as *;
@use '../tokens/typography' as *;
@use '../tokens/spacing' as *;

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
  color: $color-text-primary;
}

h1 {
  font-size: $heading-1-size;
}

h2 {
  font-size: $heading-2-size;
}

h3 {
  font-size: $heading-3-size;
}

h4 {
  font-size: $heading-4-size;
}

h5 {
  font-size: $heading-5-size;
}

h6 {
  font-size: $heading-6-size;
}

p {
  line-height: $line-height-relaxed;
}

a {
  color: $color-link;
  text-decoration: none;
  transition: color $transition-fast;

  &:hover {
    color: $color-link-hover;
  }

  &:focus-visible {
    outline: 2px solid $color-border-focus;
    outline-offset: 2px;
  }
}

strong,
b {
  font-weight: $font-weight-semibold;
}

small {
  font-size: $font-size-sm;
}

code,
pre {
  font-family: $font-family-mono;
}
