//기본 html 초기화
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strong,
sub,
sup,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
picture,
source {
    display: block;
}

body {
    line-height: 1.5;
    box-sizing: border-box;
    /* box-sizng 꼭 체크할 것 */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    line-height: 1.2;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}

//리스트스타일 제거
ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

caption {
    text-align: left;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: bottom;
}

img,
video,
audio {
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.sr_only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#skip {
    position: relative;
    z-index: 99;
}

#skip>a {
    position: absolute;
    display: block;
    width: 100%;
    height: 35px;
    background: #333;
    color: #fff;
    line-height: 35px;
    text-align: center;
    left: 0;
    top: -35px;
}

#skip>a:focus,
#skip>a:active {
    top: 0;
}

//ios 대응
html {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    /* text크기를 자동으로 조절하지 말아라 */
}

input,
button {
    appearance: auto;
    border-radius: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
    /* 화살표없애기 for ie10, 11 */
}

//폼 버튼 기본 스타일
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

button,
input[type="button"],
input[type="submit"] {
    cursor: pointer;
}

//폼 유효성 검사 스타일
input:valid,
textarea:valid,
select:valid {
    border-color: green;
}

input:invalid,
textarea:invalid,
select:invalid {
    border-color: red;
}